<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.springcloudprovider.mapper.UserMapper">
    <resultMap id="UserMap" type="com.cn.springcloudprovider.entity.User">
        <result property="uId" column="u_id" jdbcType="VARCHAR"/>
        <result property="uUsername" column="u_username" jdbcType="VARCHAR"/>
        <result property="uPassword" column="u_password" jdbcType="VARCHAR"/>
        <result property="uName" column="u_name" jdbcType="VARCHAR"/>
        <result property="uPhone" column="u_phone" jdbcType="VARCHAR"/>
        <result property="uEmail" column="u_email" jdbcType="VARCHAR"/>
        <result property="uNormal" column="u_normal" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有用户-->
    <select id="queryUserAll" resultMap="UserMap">
        select * from user
    </select>

    <!--根据用户名查询用户信息-->
    <select id="queryUserByName" resultMap="UserMap">
        select *from user where u_username=#{uUsername}
    </select>

    <!--添加用户-->
    <insert id="addUser">
        insert into user(
        u_id,u_username,u_password,u_name,u_normal,
        <trim suffixOverrides=",">
            <if test='uPhone != null and uPhone != "" and uPhone !=" "'>
                u_phone,
            </if>
            <if test='uEmail != null and uEmail != "" and uEmail !=" "'>
                u_email
            </if>
        </trim>
        ) values(
        replace(UUID(),'-',''),#{uUsername},#{uPassword},#{uName},'正常',
        <trim suffix=")" suffixOverrides=",">
            <if test='uPhone != null and uPhone != "" and uPhone !=" "'>
                #{uPhone},
            </if>
            <if test='uEmail != null and uEmail != "" and uEmail !=" "'>
                #{uEmail}
            </if>
        </trim>
    </insert>

    <select id="queryCountUser" resultType="int">
        select count(1) from user
        <where>
            <if test='uId != null and uId != "" and uId !=" "'>
                u_id=#{uId}
            </if>
            <if test='uUsername != null and uUsername != "" and uUsername !=" "'>
                and u_username=#{uUsername}
            </if>
            <if test='uPassword != null and uPassword != "" and uPassword !=" "'>
                and u_password=#{uPassword}
            </if>
            <if test='uName != null and uName != "" and uName !=" "'>
                and u_name=#{uName}
            </if>
            <if test='uPhone != null and uPhone != "" and uPhone !=" "'>
                and u_phone=#{uPhone}
            </if>
            <if test='uEmail != null and uEmail != "" and uEmail !=" "'>
                and u_email=#{uEmail}
            </if>
            <if test='uNormal != null and uNormal != "" and uNormal !=" "'>
                and u_normal=#{uNormal}
            </if>
        </where>
    </select>
</mapper>